@import "../core/variables.scss";

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 5%;
  background-color: $primary-color;

  &__info {
    padding-top: 15px;

    .text {
      text-align: justify;
      margin: 18px 0;
      @include text($primary-text-color);
    }
    button {
      display: block;
      margin: auto;
      border: none;
      border-radius: 50px;
      background-color: $details-color;
      color: $primary-color;
      font-family: 13rem;
      padding: 12px 25px;
    }

    @media (width > 768px) {
      width: 50%;
      .text {
        margin: 61px 25px 100px 0;
      }
      button {
        font-size: 2.3rem;
        display: inline;
      }
    }
  }
  &__img {
    img {
      width: 100%;
      max-width: 550px;
      aspect-ratio: 1 / 1.2;
      object-fit: fill;
      border-radius: 10px;
    }
  }
  @media (width < 769px) {
    flex-direction: column-reverse;
  }
}
